header,
main,
footer {
  background-color: #fff484;
}
body {
  margin: 0%;
  text-align: center;
}

h2 {
  padding: 15px;
}

nav > div {
  display: inline;
}

header {
  padding: 8px 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

#title {
  font-size: 20px;
  font-weight: 700;
}

button {
  background-color: #ffd227;
  color: #591f8b;
  font-size: 14px;
  width: 80px;
  height: 30px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(179, 179, 179);
}

img {
  width: 37%;
  margin: 20px;
}

.introduction {
  display: flex;
  justify-content: center;
}

.QnA {
  width: 30%;
  height: auto;
  margin: 10px;
  padding: 5px 20px;
  border: solid rgb(102, 102, 102);
  background-color: rgb(244, 244, 244);
  text-align: left;
}

.question {
  margin: 5px 0px;
  font-size: 16px;
}

.answer {
  font-size: 14px;
  padding-left: 10px;
  margin: 5px;
}

footer {
  margin-top: 20px;
  text-align: left;
  color: gray;
}
